.type-area {
  width: 1180px;
  margin: 0 auto;
}
/* 头部 */
#header {
  height: 80px;
  background: white;
  margin: 0 auto 30px;
  position: relative;
}
#header .user {
  display: none;
  position: absolute;
  width: 110px;
  right: 140px;
  bottom: -233px;
  z-index: 1;
}
#header .user p {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  left: 64px;
}
#header .user p img {
  width: 100%;
}
#header .user ul {
  width: 110px;
  height: 256px;
  background-image: url(../img/login/jx.png);
  background-size: cover;
  margin: 0;
  padding-top: 19px;
  box-sizing: border-box;
}
#header .user ul li {
  width: 100%;
  line-height: 36px;
  height: 36px;
  font-size: 12px;
}
#header .user ul li:first-child {
  font-weight: bold;
}
#header h1 {
  margin-top: 14px;
  float: left;
}
#header ul {
  float: left;
  width: 371px;
  margin: 0 129px 0 116px;
}
#header ul li {
  float: left;
  width: 80px;
  margin-right: 12px;
  text-align: center;
  color: #333333;
  font-weight: bold;
  font-size: 16px;
  height: 80px;
  line-height: 80px;
}
#header ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 16px;
}
#header ul li a.active {
  color: white;
  box-sizing: border-box;
  background: #80c4ae;
}
#header .search {
  width: 280px;
  height: 36px;
  border: 1px solid #80c4ae;
  float: left;
  margin-top: 22px;
  box-sizing: border-box;
  border-radius: 5px;
}
#header .search span {
  display: inline-block;
  width: 67px;
  height: 100%;
  text-align: center;
  line-height: 36px;
  color: #80c4ae;
  border-right: 1px solid #80c4ae;
  box-sizing: border-box;
  cursor: pointer;
}
#header .search input {
  width: 180px;
}
#header .search a {
  color: #80c4ae;
  font-size: 20px;
}
#header .login {
  float: left;
  color: #333;
  line-height: 80px;
  font-weight: bold;
  margin-left: 15px;
}
#header .login a {
  font-size: 12px;
  color: #333;
}
#header .login a:nth-child(1) {
  margin-left: 22px;
}
/* 尾部 */
#foot {
  height: 275px;
  background: #333333;
  margin-top: 97px;
}
#foot .foot-area p {
  color: #f8f8f8;
}
#foot .foot-area p:nth-child(1) {
  padding: 76px 0 0 57px;
  cursor: pointer;
}
#foot .foot-area p:nth-child(2) {
  padding: 25px 0 0 117px;
}
#foot .foot-area p:nth-child(3) {
  padding: 25px 0 0 152px;
}
#foot .foot-area p:nth-child(4) {
  padding: 25px 0 0 277px;
}
#header {
  margin: 0 auto 60px;
}
#body {
  background: #fafafa;
}
#body .top {
  height: 580px;
  position: relative;
  overflow: hidden;
  /*详情区  */
  /*  讨论区  */
}
#body .top .fp {
  position: absolute;
  top: -36px;
}
#body .top .fp a {
  margin-right: 60px;
  font-size: 14px;
}
#body .top .fp a:nth-child(1):after,
#body .top .fp a:nth-child(2):after {
  content: ">";
  position: absolute;
  color: #030303;
  margin-left: 32px;
  font-weight: bold;
}
#body .top .left {
  float: left;
  width: 860px;
  height: 580px;
  padding: 20px;
  box-shadow: 0 0 20px #f1f1f1;
  box-sizing: border-box;
}
#body .top .left img {
  width: 100%;
  height: 100%;
}
#body .top .left video {
  width: 100%;
  height: 100%;
  display: none;
}
#body .top .right {
  float: left;
  margin-left: 40px;
  padding-top: 75px;
  height: auto;
}
#body .top .right h2 {
  font-size: 22px;
  color: #333;
  font-weight: bold;
  margin-bottom: 28px;
}
#body .top .right ul li {
  margin-bottom: 18px;
  font-size: 14px;
}
#body .top .right p {
  margin-bottom: 18px;
}
#body .top .right p span {
  color: #ff6666;
}
#body .top .right p:last-child {
  width: 260px;
  height: 48px;
  background: #80c4ae;
  padding-left: 16px;
  border-radius: 5px;
}
#body .top .right p:last-child a {
  font-size: 16px;
  color: #fff;
  line-height: 48px;
}
#body .top .right p:last-child a:nth-child(1) {
  margin-right: 32px;
  border-right: 1px solid #fff;
  padding-right: 16px;
}
#body .top .right b {
  font-size: 26px;
  color: #80c4ae;
  font-weight: bold;
  margin-top: 70px;
  display: inline-block;
}
#body .top .right strong {
  display: inline-block;
  width: 130px;
  height: 50px;
  border: 2px solid #80c4ae;
  box-sizing: border-box;
  text-align: center;
  line-height: 50px;
  color: #80c4ae;
  margin: 70px 0 11px 32px;
  border-radius: 5px;
  font-weight: bold;
}
#body .top .right1 {
  width: 304px;
  float: left;
  margin-left: 15px;
  padding-top: 20px;
  height: 580px;
  box-sizing: border-box;
  display: none;
}
#body .top .right1 p {
  margin-left: 18px;
  margin-bottom: 24px;
  border-bottom: 1px solid #e0e0e0;
}
#body .top .right1 p .active {
  background: #80c4ae;
  color: #fff;
}
#body .top .right1 p span {
  display: inline-block;
  width: 80px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}
#body .top .right1 .directory {
  display: block;
}
#body .top .right1 .directory h4 {
  padding-left: 18px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: bold;
}
#body .top .right1 .directory ul .active {
  background: #e1efeb;
}
#body .top .right1 .directory ul li {
  width: 100%;
  padding-left: 18px;
  height: 40px;
  margin-bottom: 15px;
  line-height: 40px;
  font-size: 14px;
}
#body .top .right1 .talk {
  padding-left: 18px;
  display: none;
}
#body .top .right1 .talk.cur {
  display: block;
}
#body .top .right1 .talk textarea {
  width: 260px;
  height: 80px;
  border: 2px solid #f0f0f0;
  margin-bottom: 10px;
}
#body .top .right1 .talk span {
  display: block;
  margin-left: 200px;
  background: #80c4ae;
  color: #fff;
  width: 50px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
#body .top .right1 .talk ul {
  margin-top: 20px;
  max-height: 356px;
  overflow: hidden;
}
#body .top .right1 .talk ul li {
  margin-bottom: 10px;
  height: 86px;
}
#body .top .right1 .talk ul li .box1 {
  height: 36px;
  margin-bottom: 10px;
}
#body .top .right1 .talk ul li .box1 i {
  display: inline-block;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #f0f0f0;
  vertical-align: middle;
}
#body .top .right1 .talk ul li .box1 i img {
  width: 100%;
}
#body .top .right1 .talk ul li .box1 em {
  margin-left: 10px;
  display: inline-block;
  width: 184px;
  height: 36px;
  line-height: 36px;
}
#body .top .right1 .talk ul li p {
  margin-top: 15px;
  height: 35px;
  margin-left: 0;
}
#body .mid {
  height: 156px;
  margin-top: 20px;
  overflow: hidden;
}
#body .mid h4 {
  font-size: 20px;
  margin: 20px 0 24px 20px;
  color: #373737;
}
#body .mid .teacher {
  width: 238px;
  position: relative;
  float: left;
}
#body .mid .teacher .touxiang {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #d8d8d8;
  margin: 0 20px 0 30px;
  vertical-align: top;
  display: inline-block;
}
#body .mid .teacher .name {
  display: inline-block;
}
#body .mid .teacher .name mark {
  background: none;
  font-size: 16px;
  color: #333;
  line-height: 36px;
  font-weight: bold;
}
#body .mid .teacher:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 50px;
  background: #80c4ae;
  position: absolute;
  right: 0;
  top: 5px;
}
#body .mid article {
  float: right;
  width: 840px;
  height: 60px;
  margin-right: 36px;
  line-height: 21px;
  font-size: 16px;
}
#bottom {
  margin-top: 20px;
  background: #fafafa;
}
#bottom .type-area {
  background: #fff;
  /* 课程目录 */
}
#bottom .type-area p {
  margin: 0 auto;
  width: 160px;
}
#bottom .type-area p span {
  display: inline-block;
  height: 66px;
  line-height: 66px;
  width: 80px;
  text-align: center;
  font-weight: bold;
  color: #333;
  font-size: 14px;
  cursor: pointer;
}
#bottom .type-area p .active {
  background: #80c4ae;
  color: #fff;
}
#bottom .type-area div {
  min-height: 1180px;
  position: relative;
  display: none;
}
#bottom .type-area div.cur {
  display: block;
}
#bottom .type-area div img {
  width: 100%;
}
#bottom .type-area div .list {
  margin: 32px 42px 0 42px;
}
#bottom .type-area div .list .iconfont {
  font-size: 12px;
  color: #999;
  cursor: pointer;
}
#bottom .type-area div .list h2 {
  color: #333;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 24px;
}
#bottom .type-area div .list h2 span {
  float: right;
}
#bottom .type-area div .list ul {
  display: none;
}
#bottom .type-area div .list ul li {
  font-size: 14px;
  color: #333;
  height: 24px;
  line-height: 24px;
  margin-bottom: 20px;
}
#bottom .type-area div .list ul li a {
  float: left;
  width: 316px;
  margin-left: 18px;
}
#bottom .type-area div .list ul li span {
  float: left;
  width: 24px;
  height: 24px;
  background: #80c4ae;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 24px;
  vertical-align: middle;
}
#bottom .type-area div .list ul li em {
  float: left;
  width: 46px;
  height: 24px;
  border-radius: 5px;
  text-align: center;
  line-height: 24px;
}
#bottom .type-area div .list ul li b {
  float: right;
  color: #999;
}
#bottom .type-area div .list .cur {
  display: block;
}
#bottom .type-area div p {
  position: absolute;
  width: 100%;
  height: 80px;
  background-color: #fafafa;
  bottom: 0;
  text-align: center;
  line-height: 80px;
  font-size: 20px;
  color: #80c4ae;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}
#foot {
  margin-top: 0px;
}
